@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'variables';

body {
  background-color: lightgrey;
}

#header, 
#left-section, 
#right-section {
  background-color: white;
  border-radius: 25px;
}

#header,
#sectionContainer {
  width: auto;
}

#left-section,
#right-section {
  height: 500px;
  min-width: 250px;
}

#header {
  height: 250px;
}
