@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'variables';

body {
  background-color: lightgrey;
}

#header, 
#left-section, 
#right-section {
  background-color: white;
  border-radius: 25px;
}

#sectionContainer {
  width: auto;
}

#left-section,
#right-section
#projectContainer {
  height: 500px;
  min-width: 250px;
  max-width: 350px;
}

#projectTech
#ProjectList {
  min-width: 250px;
  max-width: 350px;
}

#header {
  height: 250px;
  max-width: 1100px;
  overflow: hidden;
}

.carousel {
  width: 500px;
  height: 250px;
}

.carousel-inner > .item > img {
  width:500px;
  height:250px;
}

.carousel-caption {
  color: lightgrey;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: relative;
  left: 0;
  top: 0;
}
